@import '../../globals';

.content-view {
  text-align: center;
  margin-top: $toolbar-offset;
  margin-left: $sidebar-width;
}

.content-view-image {
  color: $md-primary-color;
  height: 80px;
}

.content-view-header {
  background-color: $md-secondary-color;
  height: 150px;
  padding: 20px;

  h2 {
    color: $md-white-base;
  }
}

.content-view-intro {
  font-size: large;
  align-self: flex-end;
}
