@import 'globals';

.app {
  text-align: center;
  margin-top: $toolbar-offset;
  margin-left: $sidebar-width;
}

.app-logo {
  color: $md-primary-color;
  height: 80px;
}

.app-header {
  background-color: $md-secondary-color;
  height: 150px;
  padding: 20px;

  h2 {
    color: $md-white-base;
  }
}

.app-intro {
  font-size: large;
}

.app-loading-indicator {
  text-align: center;
  padding: 20px 0px;
}
